@import 'tailwindcss/base';
@import '@radix-ui/themes/styles.css';

@tailwind base;

@tailwind components;
@tailwind utilities;

.ps-sidebar-backdrop {
  display: none;
}

/*
    https://github.com/tailwindlabs/tailwindcss/discussions/2394
    https://github.com/tailwindlabs/tailwindcss/pull/5732
*/
@layer utilities {
  /* Chrome, Safari and Opera */
  .no-scrollbar::-webkit-scrollbar {
    display: none;
  }

  .no-scrollbar {
    -ms-overflow-style: none; /* IE and Edge */
    scrollbar-width: none; /* Firefox */
  }
}

/* table css */
.ag-status-bar {
  padding: 0 !important;
  background: var(--accent-1);
}
.ag-root-wrapper,
.ag-body-viewport {
  border-radius: 0 !important;
  background: var(--accent-a1) !important;
}
.ag-header,
.ag-header-row,
.ag-header-cell,
.ag-header-container {
  height: 40px !important;
}
.ag-header,
.ag-header-row {
  height: 40px !important;
  background: var(--gray-a2) !important;
  color: var(--accent-a12) !important;
}

.ag-row {
  background: var(--accent-a1) !important;
  color: var(--accent-a12) !important;
  border-color: var(--gray-a4) !important;
}
.ag-pinned-left-header,
.ag-cell-last-left-pinned {
  border-right-color: var(--gray-a6) !important;
  border-bottom: 0px !important;
  border-top: 0px !important;
}

.ag-pinned-left-cols-container {
  height: 100% !important;
  border-right: 2px solid var(--gray-a6) !important;
}

.ag-theme-quartz {
  --ag-header-height: 25px;
  --ag-header-foreground-color: white;
  --ag-header-background-color: var(--accent-a12);
  --ag-header-cell-hover-background-color: rgb(80, 40, 140);
  --ag-header-cell-moving-background-color: rgb(80, 40, 140);
}

.ag-fill-handle {
  cursor: crosshair !important;
}

.ag-header-cell {
  padding: 0 !important;
}

.ag-advanced-filter-header {
  display: none !important;
}
